@{
    ViewData["Title"] = "Home Page";
}

<h1>Product Catalog</h1>
<hr />
<div class="row">
    @foreach (var product in Model)
    {
        <div class="col-md-3">
            <div class="card mb-4 shadow-sm">
                <div class="card-header text-center">
                    <img src="@product.ImageUrl" height="150px" alt="@product.Name">
                </div>
                <div class="card-body">
                    <h5 class="card-title">@product.Name <span class="float-end font-20">₹@product.UnitPrice.ToString("##.#")</span></h5>
                    <p class="card-text">@product.Description</p>
                    <p>
                        @if (CurrentUser != null)
                        {
                            <button onclick="AddToCart('@product.ProductId','@product.Name','@product.UnitPrice', 1)" class="btn btn-primary">Add To Cart</button>
                        }
                        else
                        {
                            <a asp-action="Login" asp-controller="Account" asp-route-returnUrl="/" class="btn btn-primary">Add to Cart</a>
                        }
                    </p>
                </div>
            </div>
        </div>
    }
</div>